@charset "UTF-8";
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* -----------------------------------메인-------------------- */
   main{
        margin: 0 auto;
        width: 1300px;
        height: 1150px;
        /* background-color: red; */
        position: relative;
        margin-top: 20px auto;

    }
            #main_menu{
                width: 18%;
                height: 100%;
                float: left;
                /* background-color: red; */
                border-top: 2px solid #ccc;
        }
            #blank_1{
                width: 100%;
                height: 50px;
            }
        #main_menu h3{
            font-family: 'LINESeedKR-Bd';
            font-size: 20px;
            padding: 20px 20px;
            width: 200px;
            height: 70px;
        }
        main li a:link, main li a:visited{
            color: grey;
            font-weight: 500;
        }
        #main_menu a{
            line-height: 1.7;
            margin-left: 20px;
        }
        #main_menu a:hover{
            background-color: #eee;
        }
        #member{
            float: left;
        }
        #main_blank{
            height: 90%;
            width: 4%;
            /* background-color: red; */
            float: left;
        }
        #h2{
            float: left;
            width: 1000px;
            height: 100px;
            font-family: 'S-CoreDream-3Light';
            font-weight: 600;
            font-size: 23px;
            padding-top: 27px;
            border-bottom: 1px solid #222;
        }
     
       
        #main_button button{
            position: absolute;
            top: 85px;
            right: 2%;
            width: 100px;
            height: 40px;
            background-color: #362FD9;
            text-align: center;
            color: white;
            border-radius: 5px;
            font-family: 'LINESeedKR-Bd';
            font-size: 20px;
            padding-top: 5px;
        }
        #main_button button:hover{
            opacity: 0.7;
            transition: opacity 0.4s ease;
        }
        #smbtn{
            position: absolute;
            top: 85px;
            right: 11%;
            width: 100px;
            height: 40px;
            border: 2px solid #362FD9;
            background-color: inherit;
            text-align: center;
            color: #362FD9;
            border-radius: 5px;
            font-family: 'LINESeedKR-Bd';
            font-size: 20px;
            padding-top: 7px;
        }
       
        #titleArea #contentarea, #imgArea{
            float: left;
        }
        #postTitle{
            width: 1000px;
            height: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
            font-family: 'S-CoreDream-3Light';
            border: 1px solid #d5d5d5;
        }
        #postImg{
            width: 1000px;
            border: 1px solid #ccc;
        }
        ::placeholder{
            padding-bottom: 500px;
        } 
        input:focus {
             outline: 1px solid #a6a5a5; 
        }
        textarea:focus{
            outline: 1px solid #a6a5a5; 
        }
        textarea{
            width: 1000px;
            text-align: left;
            height: 600px;
            /* margin-bottom: 20px; */
            font-size: 17px;
            font-family: 'S-CoreDream-3Light';
            border: 1px solid #d5d5d5;
        }
        #postLast{
            float: left;
            width: 1000px;
            height: 20px;
            margin-top: 70px;
            border-top: 1px solid #222;
        }
         #fileArea{
        	width: 1000px;
		    height: 30px;
		    border: 1px solid #d5d5d5;
		    float: left;
		    margin: 5px 0px;
		    margin-bottom: 8px;
		    font-family: 'S-CoreDream-3Light';
        }
        #fileArea input{
        	font-family: 'S-CoreDream-3Light';
        	padding-top: 2px;
        }