<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="NoticeMapper">
	<resultMap type="com.movie24.happy.notice.domain.Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeSubject" column="NOTICE_SUBJECT" />
		<result property="noticeContent" column="NOTICE_CONTENT" />
		<result property="noticeWriter" column="NOTICE_WRITER" />
		<result property="noticeDate" column="NOTICE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="viewCount" column="VIEW_COUNT" />
	</resultMap>
	<insert id="insertNotice">
		INSERT INTO NOTICE_TBL VALUES(SEQ_NOTICENO.NEXTVAL, #{noticeSubject}, #{noticeContent}, #{noticeWriter} ,DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<update id="updateNotice">
		UPDATE NOTICE_TBL SET NOTICE_SUBJECT = #{noticeSubject}, NOTICE_CONTENT = #{noticeContent}, UPDATE_DATE = SYSDATE WHERE NOTICE_NO = #{noticeNo}
	</update>
	<delete id="deleteNotice">
		DELETE FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
	</delete>
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM( SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) ROW_NUM, NOTICE_TBL. * FROM NOTICE_TBL) WHERE ROW_NUM BETWEEN #{start} AND #{end}
	</select>
	<select id="searchNoticeList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
<!-- 		<bind name="seacrchValue" value="'%'+_parameter.getSearchValue()+'%'"/> -->
		SELECT * FROM NOTICE_TBL WHERE NOTICE_CONTENT LIKE CONCAT('%',#{searchValue},'%') OR NOTICE_SUBJECT LIKE CONCAT('%',#{searchValue},'%');
	</select>
	<select id="selectOneByNo" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
	</select>
<!-- 	result map total로 하나 만들기 -->
	<select id="selectTotal" resultType="Integer"> 
		SELECT COUNT(*) AS TOTALCOUNT FROM NOTICE_TBL
	</select>
</mapper>