@charset "UTF-8";
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* -----------------------------------λ©”μΈ-------------------- */
    main{
        margin: 0 auto;
        width: 1300px;
/*         height: 2500px; */
        /* background-color: red; */
        position: relative;
    }
        #main_logo{
            width: 100%;
            height: 150px;
            /* background-color: green; */
            border-bottom: 1px solid #ccc;
        }
            #main_logo h1{
                font-family: 'S-CoreDream-3Light';
                font-size: 35px;
                font-weight: 700;
                padding-top: 50px;
            }
       
       .eventAreaForm{
       		width: 100%;
       		height: 380px;
       }
       .eventArea h2{
	       	font-family: 'S-CoreDream-3Light';
	       	font-weight: 700;
	       	padding: 30px 0px;
       }
       .eventArea li{
       		float: left;
       }
       .eventArea img{
       		width: 100%;
       }    
       .eventAreaForm img:hover{
	        transform: scale(1.1);
	        transition: 0.4s ease;
    	}
    	.eventAreaForm .event-img{
    		width: 400px;
    		height: 234.38px;
    		overflow: hidden;
    		border-radius: 7px;
    	}
	       .centerEvent{
	       		margin: 0px 50px;
	       }
	       .eventArea li .event-text{
	       		padding: 10px 0px 10px 20px;
	       }
       #advertise img{
       		width: 1300px;
       		padding: 150px 0px;
       }
    /* ----------ν‘Έν„°------------------------- */
