@charset "UTF-8";
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -----------------------------------λ©”μΈ-------------------- */
    main{
        margin: 0 auto;
        width: 1300px;
        position: relative;
    }
       section{
        width: 100%;
        height: 360px;
        /* background-color: red; */
        margin-top: 50px;
       }
       #img_area{
        height: 100%;
        width: 25%;
        /* background-color: blue; */
        float: left;
       }
       #img_area img{
        width: 250px;
        margin-left: 37px;
       }
       #image_left{
        width: 75%;
        height: 100%;
        float: left;
       }
       #main_title{
        width: 100%;
        height: 130px;
       }
       #main_title h2{
        font-family: 'LINESeedKR-Bd';
        font-size: 30px;
        padding: 20px 0;
       }
       #main_title span{
        width: 50px;
        height: 30px;
        padding: 10px 10px;
        margin-right: 10px;
       }
       #span1{
        border: 2px solid #a16423;
        color: #a16423;
        font-size: 17px;
        font-weight: 550;
       }
       #span2{
        border: 2px solid #362FD9;
        color: #362FD9;
        font-size: 17px;
        font-weight: 550;
       }
       #main_text1{
        width: 100%;
        height: 50px;
        /* background-color: green; */
        padding-top: 12px;
        border-bottom: 1px solid #ccc;
        font-weight: 600;
        color: #9b9999;
       }
       #main_text1 p{
        font-size: 18px;
       }
       #main_text2 p {
        line-height: 1.8;
        font-size: 17px;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 20px;
       }
       section button{
        width: 120px;
        height: 45px;
        font-size: 17px;
        font-weight: 600;
        border-radius: 5px;
       }
/*        section #btn1:hover{ */
/*        	background-color: #FFF0F5; */
/*        } */
       section #btn2:hover{
       	background-color: #FFB319;
       	color : white;
       }
       #btn1{
        background-color: white;
        border: 3px solid #FF9292;
        color: #f44a4a;
       }
       #btn2{
        background-color: white;
        color: #d79208;
        border: 3px solid #FFB319;
       }
       #main_menu{
        width: 650px;
        height: 70px;
        margin: auto;
        text-align: center;
        margin-top: 50px;
        padding-top: 13px;
       }
       #main_menu ul{
        margin-top: 10px;
        padding-top: 3px;
       }
       #main_menu li{
        display: inline;
        font-size: 20px;
        border: 2px dashed #362FD9;
        padding: 8px 20px;
        padding-top: 10px;
        font-family: 'LINESeedKR-Bd';
        background-color: #537FE7;
       }
       #main_menu a:link, #main_menu a:visited{
        color: white;
       }

    .title_movie{
        width: 100%;
        height: 100px;
        /* background-color: red; */
        border-bottom: 2px solid #b3b2b2;
        font-size: 27px;
        font-family: 'S-CoreDream-3Light';
        font-weight: 400;
        padding-top: 30px;
    }
    #title_text{
        width: 100%;
        font-size: 17px;
        line-height: 1.5;
        padding-top: 60px;
        text-align: center;
    }
    #img_area2{
        width: 100%;
        padding-top: 50px;
        text-align: center;
    }
    #video_area{
        width: 100%;
        padding-top: 50px;
        margin: 0 auto;
        text-align: center;
        height: 740px;
        /* background-color: red; */
    }
    #video_area video{
        width: 1200px;
        margin: auto;
    }
    #review{
        width: 90%;
        height: 150px;
        /* background-color: red; */
        padding-top: 40px;
        font-family: 'LINESeedKR-Bd';
        color: rgb(74, 73, 73);
        line-height: 1.6;
        float: left;
    }
    #review_btn{
        width: 10%;
        height: 150px;
        float: left;
        width: 100px;
        height: 40px;
        font-size: 19px;
        margin-top: 52px;
        font-family: 'LINESeedKR-Bd';
        color: #ffffff;
        font-weight: 700;
        background-color: #222;
        border-radius: 5px;
        border: 0px;
        padding-top: 9px;
    }
    #img_area3{
        text-align: center;
    }
    #img_area3 img{
        margin-top: 30px;
    }

        #next{
            position: fixed;
            top: 750px;
            right: 18%;
            width: 130px;
            height: 50px;
            background-color: #362FD9;
            text-align: center;
            color: white;
            border-radius: 15px;
            font-family: 'LINESeedKR-Bd';
            font-size: 20px;
            padding-top: 14px;
        }
        #next:hover{
            opacity: 0.7;
            transition: opacity 0.4s ease;
        }
        #bottomBlank{
        	width: 100%;
        	height: 100px;
        }
        #status{
        	width: 93%;
        }
        #movieExpl{
        	line-height:2;
        }
        .movie-age{
        	width: 27px;
    		padding-bottom: 6px;
        }
    /* ----------ν‘Έν„°------------------------- */
