@charset "UTF-8";
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* -----------------------------------λ©”μΈ-------------------- */
    main{
        margin: 0 auto;
        width: 1300px;
        height: 1960px;
        /* background-color: red; */
        position: relative;
    }
        #main_logo{
            width: 100%;
            height: 220px;
            /* background-color: green; */
            border-bottom: 1px solid #ccc;
            display: inline-flex;
            justify-content: space-evenly;
            color: #8D8D8D;
        }
        .logo{
            display: inline-flex;
        }
        #main_logo img{
            width: 50px;
            height: 50px;
            margin-top: 80px;
        }
            #main_logo h1{
                text-align: center;
                font-family: 'S-CoreDream-3Light';
                height: 100px;
                font-size: 35px;
                font-weight: 700;
                padding-top: 80px;
            }
            #h11{
                color: #362FD9;
            }
        #purchase{
            width: 100%;
            height: 260px;
        }
        #purchase_up{
            width: 100%;
            height: 80px;
            /* background-color: blue; */
            border-top: 1px solid #222;
            border-bottom: 1px solid #ccc;
            display: inline-flex;
            justify-content: space-evenly;
        }
            #purchase_up ul li{
                font-size: 20px;
                width: 160px;
                float: left;
                text-align: center;
                margin-top: 25px;
            }
            #name{
                margin-left: 200px;
                margin-right: 250px;
            }
        #purchase_down{
            width: 100%;
            height: 180px;
            border-bottom: 1px solid #515050;
        }
        #product{
            width: 640px;
            height: 100%;
            float: left;
            text-align: center;
            font-size: 20px;
        }
        #product img{
            width: 200px;
            float: left;
            margin-left: 50px;
        }
        #product h2{
            padding-top: 50px;
            color: #545353;
        }
        .product{
            width: 160px;
            height: 100%;
            text-align: center;
            font-size: 20px;
            float: left;
            padding-top: 70px;
        }
        .product select{
            width: 100px;
            height: 30px;
            font-size: 17px;
        }
        .product img{
            width: 30px;
        }
        .no{
            width: 100%;
            height: 80px;
            /* background-color: red; */
            font-size: 17px;
            display: inline-flex;
            justify-content: space-between;
        }
        .no p{
            padding-top: 30px;
            font-weight: 100;
            color: #545353;
            font-family: 'S-CoreDream-3Light';
        }
        
        #purchase2{
            width: 100%;
            height: 260px;
            margin-top: 100px;
        }
        #purchase_up2{
            width: 100%;
            height: 80px;
            background-color: #eee;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-left: 200px;
        }
            #purchase_up2 ul li{
                font-size: 25px;
                float: left;
                width: 300px;
                text-align: center;
                /* margin-top: 25px; */
            }
        #purchase_down2{
            width: 100%;
            position: relative;
            height: 180px;
            border-bottom: 1px solid #515050;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-left: 200px;
        }
        #purchase_down2 ul li{
            font-size: 25px;
            float: left;
            width: 300px;
            text-align: center;
            /* margin-top: 25px; */
            font-family: 'LINESeedKR-Bd';
        }
        #img1{
            position: absolute;
            left: 350px;
            bottom: 55px;
        }
        #img2{
            position: absolute;
            left: 650px;
            bottom: 55px;
        }
        .h2_area{
            width: 100%;
            height: 50px;
            font-weight: 500;
            border-bottom: 1px solid #222;
            margin-top: 100px;
        }
        .h2_text{
            width: 100%;
            height: 150px;
            border-bottom: 1px solid #ccc;
            font-size: 25px;
            font-family: 'LINESeedKR-Bd';
            color: #5C5C5C;
            padding: 50px 50px;
        }
        .h2_text input[type=text]{
            width: 200px;
            height: 40px;
            margin-right: 50px;
            margin-top: 5px;
        }
        .h2_text p{
            display: inline;
            padding-right: 30px;
        }
        .h2_text input[type=radio]{
            width: 22px;
            height: 22px;
            margin-right: 10px;
            margin-top: 10px;
        }
        #h2-area2{
            width: 100%;
            height: 100px;
            margin-top: 100px;
            font-family: 'LINESeedKR-Bd';
            background-color: #eee;
            padding-top: 37px;
        }
        #h2-area2 img{
            width: 30px;
            float: left;
            margin-right: 20px;
        }

        #main_select{
            width: 700px;
            margin: 50px auto;
            height: 100px;
            text-align: center;
        }
        #main_select button{
            width: 230px;
            height: 70px;
            font-size: 25px;
            font-family: 'LINESeedKR-Bd';
            color: white;
            background-color: #362FD9;
            border: 1px solid #362FD9;
            margin-top: 30px;
        }
        #main_select button:hover{
            opacity: 0.7;
            transition: opacity 0.4s ease;
        }

          
    /* ----------ν‘Έν„°------------------------- */
