<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie24</title>
        <link rel="stylesheet" href="/resources/css/movieReservation/Movie24_time.css">
    </head>
    <body>
        <div>
            <header>
                <div id="title_box">
                    <h1 id="title"><a href="/">MOVIE</a></h1>
                    <h1><a id="title_num" href="/">24</a></h1>
                </div>
                <div id="small_title_box">
                    <h3 id="small_title">All Time <br> Movie Theater*</h3>
                </div>
                <div id="title_right">
                    <ul>
                        <li><a href="/movie24/help/Movie24_help.html"><img src="/resources/images/free-icon-operator-8111794.png" alt=""></a></li>
                        <li><a href=""><img src="/resources/images/free-icon-help-round-button-61079.png" alt=""></a></li>
                        <li><a href="/movie24/myPage/Movie24_myPage.html"><img src="/resources/images/free-icon-user-5264565.png" alt=""></a></li>
                        <div id="login">
                            <li><a href="/movie24/login/Movie24_login.html"><img src="/resources/images/free-icon-lock-2089784.png" alt="로그인"></a></li>
                        </div>
                    </ul>
                </div>
               
            </header>
            <!-- -----------네비게이터 영역----------------------------------- -->
            <nav>
                <!-- <a href=""><img id="menu" src="/resources/images/menu.png" alt=""></a> -->
                <div id="navigator_tag">
                    <ul id="nav_ul">
                        <li><a href="">영화</a></li>
                        <li><a href="/movie24/movieReservation/Movie24_time.html">예매</a></li>
                        <li><a href="">극장</a></li>
                        <li><a href="/movie24/store/Movie24_store.html">스토어</a></li>
                        <li><a href="">이벤트</a></li>
                        <li><a href="">혜택</a></li>
                    </ul>

                    <input type="text" placeholder="영화 제목을 검색해보세요.">
                    <button><img src="/resources/images/돋보기.png" alt=""></button>
                </div>
                <div id="menu_text">
                    <ul id="movie">
                        <h3>영화</h3>
                        <li><a href="">인기차트</a></li>
                        <li><a href="">전체영화</a></li>
                    </ul>
                    <ul id="reservation">
                        <h3>예매</h3>
                        <li><a href="/movie24/movieReservation/Movie24_time.html">빠른예매</a></li>
                        <li><a href="/movie24/movieReservation/Movie24_time.html">상영시간표</a></li>
                    </ul>
                    <ul id="theater">
                        <h3>극장</h3>
                        <li><a href="">근처영화관</a></li>
                        <li><a href="">전체영화관</a></li>
                    </ul>
                    <ul id="store">
                        <h3>스토어</h3>
                        <li><a href="/movie24/store/Movie24_store.html">영화관람권</a></li>
                        <li><a href="/movie24/store/Movie24_store.html">기프트카드</a></li>
                        <li><a href="/movie24/store/Movie24_store.html">기프티콘</a></li>
                    </ul>
                    <ul id="event">
                        <h3>이벤트</h3>
                        <li><a href="">진행중인 이벤트</a></li>
                        <li><a href="">당첨자 발표</a></li>
                        <li><a href="">종료된 이벤트</a></li>
                    </ul>
                    <ul id="benefit">
                        <h3>혜택</h3>
                        <li><a href="">할인정보</a></li>
                        <li><a href="">vip혜택</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- -----------------메인--------------------------- -->
<main>
    <div id="main_select">
        <div id="main_select_left">
            <div id="main_select_left1">
                <a href="#"><img src="/resources/images/영화별grey.png" alt="">영화별</a>
            </div>
            <div id="main_select_left2">
                <a href="#"><img src="/resources/images/극장별.png" alt="">극장별</a>
            </div>
        </div>
        <div id="main_select_right">
            <div id="main_select_right1">
                <span id="span1">상영중</span>
                <span id="span2">상영종료</span>
            </div>
            <div id="main_select_right2">
                <div class="ul"><ul>
                    <li><a href="#">범죄도시3</a></li>
                    <li><a href="#">더 마블즈</a></li>
                    <li><a href="#">인어공주</a></li>
                    <li><a href="#">트랜스포머</a></li>
                    <li><a href="#">슈퍼마리오</a></li>
                </ul></div>
                <div class="ul"><ul>
                    <li><a href="#">신세계</a></li>
                    <li><a href="#">라라랜드</a></li>
                    <li><a href="#">베테랑</a></li>
                    <li><a href="#">리틀 포레스트</a></li>
                    <li><a href="#">닥터 스트레인지</a></li>
                </ul></div>
                <div class="ul"><ul>
                    <li><a href="#">스파이더맨</a></li>
                    <li><a href="#">신데렐라</a></li>
                    <li><a href="#">짱구는 못말려</a></li>
                    <li><a href="#">스즈메의 문단속</a></li>
                    <li><a href="#">너의 이름은</a></li>
                </ul></div>
            </div>
        </div>
    </div>
    <!-------------------- 선택창 밑 메인----------------------------->
    <div id="banner">
        <span id="span_banner">영화이름</span>
        <span>상영시간표</span>
    </div>
    <div id="number">
        <img class="img" src="/resources/images/back.png" alt="">
        <ul>
            <li><a class="sat" href="#">10토</a></li>
            <li><a class="sun" href="#">11일</a></li>
            <li><a href="#">12월</a></li>
            <li><a href="#">13화</a></li>
            <li><a href="#">14수</a></li>
            <li><a href="#">15목</a></li>
            <li><a href="#">16금</a></li>
            <li><a class="sat" href="#">17토</a></li>
            <li><a class="sun" href="#">18일</a></li>
            <li><a href="#">19월</a></li>
            <li><a href="#">20화</a></li>
            <li><a href="#">21수</a></li>
            <li><a href="#">22목</a></li>
        </ul>
        <img class="img" src="/resources/images/next.png" alt="">
        <img class="cal" src="/resources/images/calendar (1).png" alt="">
    </div>
    <div id="country">
        <span id="seoul"><a href="#">서울</a></span>
        <span><a href="#">경기</a></span>
        <span><a href="#">인천</a></span>
        <span><a href="#">대전/충청/세종</a></span>
        <span><a href="#">부산/대구/경상</a></span>
        <span><a href="#">광주/전라</a></span>
        <span><a href="#">강원</a></span>
    </div>
    <div class="country_text">
        <span>강남</span>
    </div>
    <div class="seat">
        <div class="tNum"><h4>1관</h4>총200석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
    </div>
    <div class="seat">
        <div class="tNum"><h4>2관</h4>총220석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">21:00<br>200석</a></div>
    </div>
    <div class="seat last">
        <div class="tNum"><h4>3관</h4>총210석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">21:00<br>200석</a></div>
    </div>
    <div class="country_text">
        <span>종로</span>
    </div>
    <div class="seat">
        <div class="tNum"><h4>1관</h4>총200석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
    </div>
    <div class="seat last">
        <div class="tNum"><h4>2관</h4>총220석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
    </div>
    <div class="country_text">
        <span>강동</span>
    </div>
    <div class="seat">
        <div class="tNum"><h4>1관</h4>총200석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
    </div>
    <div class="seat last">
        <div class="tNum"><h4>2관</h4>총220석
        </div>
        <div class="d2">2D</div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">17:50<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
        <div class="seat_text"><a href="/movie24/movieReservation/Movie24_seat.html">19:00<br>200석</a></div>
    </div>
        <!-- <div id="main_button">
            <a href="#">다음 단계</a>
        </div> -->
</main>
         <!-- --------------------푸터---------------------------------- -->
         <footer class="footer">
            <div class="footer-container">
              <ul class="footer-list">
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">회사소개</a></li>
                <li><a href="">광고/제휴/출점문의</a></li>
                <li><a href="">법적고지</a></li>
                <li><a href="">채용정보</a></li>
                <li><a href="">편성기준</a></li>
              </ul>
              <div class="footer-content">
                <hr class="footer-line">
                <p>저작권 © 2023 My Website. All rights reserved.</p>
              </div>
            </div>
            <p>()경기도 의정부시 상금로 102-37, 스페셜빌딩(금오동)
                <br>대표이사 : 정모씨 | 사업자 등록번호 : 010-7777-7777 | 통신판매업신고번호 : 2023-의정부시-0527
                <br>COPYRIGHT @ Movie24.by_suhwan.All rights reserved
            </p>
          </footer>
    </div>
    <!-- 스크립트 -->
    <script>
        var ulElement = document.getElementById('nav_ul');
        var liElements = ulElement.querySelectorAll('li');
        var menuText = document.getElementById('menu_text');

        liElements.forEach(li => {
        li.addEventListener('mouseenter', () => {
                menuText.classList.add('active');
                menuText.style.zIndex= 5000;
            });

        });
        document.getElementById("menu_text").addEventListener('mouseleave', () => {
            menuText.classList.remove('active');
            menuText.style.zIndex= -1;
        });

    </script>