<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie24</title>
        <link rel="stylesheet" href="/resources/css/movieReservation/Movie24_pay.css">
    </head>
    <body>
        <div>
            <header>
                <div id="title_box">
                    <h1 id="title"><a href="/">MOVIE</a></h1>
                    <h1><a id="title_num" href="/">24</a></h1>
                </div>
                <div id="small_title_box">
                    <h3 id="small_title">All Time <br> Movie Theater*</h3>
                </div>
                <div id="title_right">
                    <ul>
                        <li><a href="/movie24/help/Movie24_help.html"><img src="/resources/images/free-icon-operator-8111794.png" alt=""></a></li>
                        <li><a href=""><img src="/resources/images/free-icon-help-round-button-61079.png" alt=""></a></li>
                        <li><a href="/movie24/myPage/Movie24_myPage.html"><img src="/resources/images/free-icon-user-5264565.png" alt=""></a></li>
                        <div id="login">
                            <li><a href="/movie24/login/Movie24_login.html"><img src="/resources/images/free-icon-lock-2089784.png" alt="로그인"></a></li>
                        </div>
                    </ul>
                </div>
            </header>
            <!-- -----------네비게이터 영역----------------------------------- -->
            <nav>
                <!-- <a href=""><img id="menu" src="./resources/images/menu.png" alt=""></a> -->
                <div id="navigator_tag">
                    <ul id="nav_ul">
                        <li><a href="">영화</a></li>
                        <li><a href="/movie24/movieReservation/Movie24_time.html">예매</a></li>
                        <li><a href="">극장</a></li>
                        <li><a href="/movie24/store/Movie24_store.html">스토어</a></li>
                        <li><a href="">이벤트</a></li>
                        <li><a href="">혜택</a></li>
                    </ul>

                    <input type="text" placeholder="영화 제목을 검색해보세요.">
                    <button><img src="/resources/images/돋보기.png" alt=""></button>
                </div>
                <div id="menu_text">
                    <ul id="movie">
                        <h3>영화</h3>
                        <li><a href="">인기차트</a></li>
                        <li><a href="">전체영화</a></li>
                    </ul>
                    <ul id="reservation">
                        <h3>예매</h3>
                        <li><a href="/movie24/movieReservation/Movie24_time.html">빠른예매</a></li>
                        <li><a href="/movie24/movieReservation/Movie24_time.html">상영시간표</a></li>
                    </ul>
                    <ul id="theater">
                        <h3>극장</h3>
                        <li><a href="">근처영화관</a></li>
                        <li><a href="">전체영화관</a></li>
                    </ul>
                    <ul id="store">
                        <h3>스토어</h3>
                        <li><a href="/movie24/store/Movie24_store.html">영화관람권</a></li>
                        <li><a href="/movie24/store/Movie24_store.html">기프트카드</a></li>
                        <li><a href="/movie24/store/Movie24_store.html">기프티콘</a></li>
                    </ul>
                    <ul id="event">
                        <h3>이벤트</h3>
                        <li><a href="">진행중인 이벤트</a></li>
                        <li><a href="">당첨자 발표</a></li>
                        <li><a href="">종료된 이벤트</a></li>
                    </ul>
                    <ul id="benefit">
                        <h3>혜택</h3>
                        <li><a href="">할인정보</a></li>
                        <li><a href="">vip혜택</a></li>
                    </ul>
                </div>
            </nav>
        <!-- -----------------메인--------------------------- -->
		<main>
		    <div id="main-left">
		        <div id="main_text">
		            <p>관람권 및 포인트 할인적용</p>
		        </div>
		        <div class="main select1">
		            <p>Movie24 관람권/기프티콘</p><img src="/resources/images/down-arrow.png" alt="">
		        </div>
		        <div class="main select2">
		            <p>Movie24 포인트/쿠폰</p><img src="/resources/images/down-arrow.png" alt="">
		        </div>
		        <div class="main select3"><img src="/resources/images/down-arrow.png" alt="">
		            <p>Vip 할인</p>
		        </div>
		        <div id="main_text2">
		            <p>관람권 및 포인트 할인적용</p>
		        </div>
		        <div id="purchase">
		            <ul>
		                <li><input type="radio" name="purchase">신용/체크카드</li>
		                <li><input type="radio" name="purchase">휴대폰결제</li>
		                <li><input type="radio" name="purchase">간편결제</li>
		                <li><input type="radio" name="purchase">내통장결제</li>
		            </ul>
		        </div>
		        <div id="purchase2">
		            <p>카드사 선택</p><select name="" id="">
		                <option value="">비씨카드</option>
		                <option value="">국민카드</option>
		                <option value="">신한카드</option>
		                <option value="">삼성카드</option>
		                <option value="">롯데카드</option>
		                <option value="">농협카드</option>
		                <option value="">현대카드</option>
		                <option value="">하나카드</option>
		                <option value="">우리카드</option>
		                <option value="">신협카드</option>
		            </select>
		        </div>
		    </div>
		    <div id="main-right">
		        <div id="price1">
		            <img src="/resources/images/15.png" alt="">
		            <h3>범죄도시3(2D)</h3>
		        </div>
		        <div id="price2">
		            <div id="price2-1">
		                <p>강남</p><p>3관</p><p>2023.06.09</p><p>17:30~19:15</p> 
		            </div>
		            <div id="price2-2">
		                <img src="/resources/images/범죄도시.png" alt="">
		            </div>
		        </div>
		        <div id="price3">
		            <div id="price3-1">
		                <p id="adult">성인1</p>
		                <p>14000</p>
		            </div>
		            <div id="price3-2">
		                <h3 id="real_price">금액</h3>
		                <h3>14,000원</h3>
		                <img src="/resources/images/minus (1).png" alt="">
		            </div>
		            <div id="price3-3">
		                <h3 id="disCount">할인적용</h3>
		                <h3>0원</h3>
		            </div>
		        </div>
		        <div class="price4 price-new">
		            <p class="price4-1 price4-1-new">VIP 할인</p>
		            <p class="price4-2 price4-2-new">0원</p>
		        </div>
		        <div class="price4 price_4">
		            <div class="price4-1">
		                최종결제금액
		            </div>
		            <div class="price4-2">
		                <p class="price-number2">원</p>
		                <p id="price-number1">14,000</p>
		            </div>
		        </div>
		        <div class="price4 price-new">
		            <p class="price4-1">결제수단</p>
		            <p class="price4-2 price4-3-new">신용/체크카드</p>
		        </div>
		        <div id="price5">
		            <div id="price5-1-1"><a id="price5-1" href="/movie24/movieReservation/Movie24_seat.html">이전</a></div>
		            <div id="price5-2-2"><a id="price5-2" href="/movie24/movieReservation/Movie24_pay_done.html">다음</a></div>
		        </div>
		    </div>
		</main>
         <!-- --------------------푸터---------------------------------- -->
         <!-- <footer> ----------------------------</footer> -->
            <jsp:include page="/include/footer.jsp"></jsp:include>
	    </div>
	    <!-- 스크립트 -->
	    <script>
	        var ulElement = document.getElementById('nav_ul');
	        var liElements = ulElement.querySelectorAll('li');
	        var menuText = document.getElementById('menu_text');
	
	        liElements.forEach(li => {
	        li.addEventListener('mouseenter', () => {
	                menuText.classList.add('active');
	                menuText.style.zIndex= 5000;
	            });
	
	        });
	        document.getElementById("menu_text").addEventListener('mouseleave', () => {
	            menuText.classList.remove('active');
	            menuText.style.zIndex= -1;
	        });
	        function myCheck(){
            	alert("로그인이 되어있지 않습니다.");
            }
            function outCheck(){
            	if(confirm("로그아웃 하시겠습니까?")){
            		location.href="/member/logout.do";
            	}
            }
	    </script>
	</body>
</html>	    