@charset "UTF-8";
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

            /* -----------------------------------λ©”μΈ-------------------- */
main{
    margin: 0 auto;
    width: 1050px;
    height: 1050px;
    /* background-color: red; */
    position: relative;
}
    #main_logo{
        width: 100%;
        height: 15%;
        /* background-color: green; */
        border-bottom: 1px solid #ccc;
    }
        #main_logo h1{
            text-align: center;
            font-family: 'S-CoreDream-3Light';
            font-size: 35px;
            font-weight: 700;
            padding-top: 50px;
        }
    #main_content{
        width: 100%;
        height: 85%;
        /* background-color: blue; */
    }
	#login_li{
	    text-align: center;
	    width: 100%;
	    height: 70px;
	    margin: 0 auto;
	    /* background-color: red; */
	    display: flex;
	    justify-content: center;
	}
    #login_li li{
        float: left;
        width: 130px;
        height: 25px;
        margin-top: 25px;
        /* margin-bottom: 50px; */
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-collapse: collapse;
        font-weight: 400;
    }
    #content_area{
        width: 800px;
        height: 600px;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
/*         background-color: blue; */
    }
    #content_area ul {
	list-style-type : none;
	padding-left : 0;
	}
	#content_area li {
		margin : 10px;
	}
	#content_area ul label {
		width: 130px;
/*         text-align : center; */
        float: left;
        margin-left: 100px;
        margin-top: 25px;
        font-size: 20px;
        /* font-family: 'LINESeedKR-Bd'; */
        font-weight: 500;
        
	}
	#content_area span{
		position: absolute;
        top: 444px;
        left: 68%
	}
    #content_area input{
    	float: left;
    }
    #content_area input:not([type=checkbox]){
        width: 300px;
        height: 40px;
        margin: 20px 30px;
        font-size: 15px;
    }
    #content_area input[type=checkbox]{
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 140px;
        left: 42%
    }
    #content_area p{
    	position: absolute;
        bottom: 140px;
        left: 46%
    }
    #checkIdBtn{
        width: 100px;
	    height: 40px;
	    position: absolute;
	    top: 277.5px;
	    right: 23%
	    font-size: 15px;
    }
    #checkIdBtn{
        width: 80px;
        height: 30px;
        position: absolute;
        top: 283px;
        right:20.2%
        font-size: 15px;
    }
    #searchAddrBtn{
    	width: 100px;
	    height: 40px;
	    position: absolute;
	    bottom: 312.5px;
	    right: 20%;
	    font-size: 15px;
    }
    #sm{
        position: absolute;
        border: 1px solid #362FD9;
        bottom: 50px;
        right: 43%;
        width: 130px;
        height: 50px;
        background-color: #362FD9;
        text-align: center;
        color: white;
        border-radius: 15px;
        font-family: 'LINESeedKR-Bd';
        font-size: 20px;
        padding-top: 12px;
        padding-bottom: 8px;
    }
    
    /* ----------ν‘Έν„°------------------------- */
   