@charset "UTF-8";
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

            /* -----------------------------------메인-------------------- */
main{
    margin: 0 auto;
    width: 1000px;
    height: 920px;
    /* background-color: red; */
    position: relative;
}
main p{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
}
    #main_logo{
        width: 100%;
        height: 15%;
        /* background-color: green; */
        border-bottom: 1px solid #ccc;
    }
        #main_logo h1{
            text-align: center;
            font-family: 'S-CoreDream-3Light';
            font-size: 35px;
            font-weight: 700;
            padding-top: 50px;
        }
    #main_content{
        width: 100%;
        height: 85%;
        /* background-color: blue; */
    }
#login_li{
    text-align: center;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* background-color: #eee; */
}

#pw{
    background-color: #ccc;
}
    #login_li a{
        float: left;
        width: 200px;
        height: 40px;
        margin-top: 25px;
        /* border-left: 1px solid #ccc; */
        border: 1px solid #ccc;
        border-collapse: collapse;
        font-weight: 400;
        font-size: 20px;
        padding-top: 5px;

    }
    #login_li a:link, #login_li a:visited{
        color: #222;
    }
    #content_text{
        /* width: 325px; */
        float: left;
        margin-left: 260px;
        font-size: 20px;
        /* font-family: 'LINESeedKR-Bd'; */
        font-weight: 400;
    }
    #content_text li{
        margin-top: 55px;
        margin-bottom: 53px;
    }
    #content_area{
        width: 350px;
        height: 600px;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        /* background-color: blue; */
        float: left;
    }
    #content_area input:not([type=checkbox]){
        width: 300px;
        height: 40px;
        margin: 20px 30px;
        font-size: 15px;
    }
    #main_button button{
        position: absolute;
        top: 740px;
        right: 41%;
        width: 160px;
        height: 50px;
        background-color: #362FD9;
        text-align: center;
        color: white;
        border-radius: 15px;
        font-family: 'LINESeedKR-Bd';
        font-size: 20px;
        padding-top: 12px;
        padding-bottom: 8px;
        border: 1px solid #362FD9;
    }

