<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<resultMap type="Review" id="reviewResultMap">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="starRating" column="STAR_RATING"/>
		<result property="movieNo" column="MOVIE_NO"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewWriter" column="REVIEW_WRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rUpdateDate" column="R_UPDATE_DATE"/>
		<result property="updateYn" column="UPDATE_YN"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	<resultMap type="Review" id="reviewLikeResultMap">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="starRating" column="STAR_RATING"/>
		<result property="movieNo" column="MOVIE_NO"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewWriter" column="REVIEW_WRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rUpdateDate" column="R_UPDATE_DATE"/>
		<result property="updateYn" column="UPDATE_YN"/>
		<result property="rStatus" column="R_STATUS"/>
		<result property="likeNo" column="LIKE_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>
	<insert id="insertReview">
		INSERT INTO REVIEW_TBL VALUES(SEQ_REVIEW_NO.NEXTVAL, #{starRating}, #{movieNo}, #{reviewContent}, #{reviewWriter}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="updateReview">
		UPDATE REVIEW_TBL SET REVIEW_CONTENT = #{reviewContent}, R_UPDATE_DATE = DEFAULT, UPDATE_YN = 'Y' WHERE REVIEW_NO = #{reviewNo}
	</update>
	<update id="deleteReview">
		UPDATE REVIEW_TBL SET R_STATUS = 'N' WHERE REVIEW_NO = #{reviewNo}
	</update>
	<insert id="insertLike">
		INSERT INTO REVIEW_LIKE_TBL VALUES(SEQ_LIKE_NO.NEXTVAL, #{movieNo}, #{reviewNo}, #{memberId})
	</insert>
	<delete id="deleteLike">
		DELETE FROM REVIEW_LIKE_TBL WHERE LIKE_NO = #{likeNo}
	</delete>
	<select id="selectOneByReviewNo" resultMap="reviewResultMap">
		SELECT * FROM REVIEW_TBL WHERE REVIEW_NO = #{reviewNo} AND R_STATUS = 'Y'
	</select>
	<select id="selectReviewList" resultMap="reviewLikeResultMap">
		SELECT R1.REVIEW_NO, R1.STAR_RATING, R1.MOVIE_NO, R1.REVIEW_CONTENT, R1.REVIEW_WRITER,
   		R1.R_CREATE_DATE, R1.R_UPDATE_DATE, R1.UPDATE_YN, R1.R_STATUS, 
       	R2.LIKE_NO, R2.MEMBER_ID
		FROM REVIEW_TBL R1 LEFT JOIN REVIEW_LIKE_TBL R2 ON R1.MOVIE_NO = R2.MOVIE_NO AND R1.REVIEW_NO = R2.REVIEW_NO
		WHERE R1.MOVIE_NO = #{movieNo} AND R1.R_STATUS = 'Y' ORDER BY R1.REVIEW_NO
	</select>
	<select id="countLikeByMap" resultType="_int">
		SELECT COUNT(*) FROM REVIEW_LIKE_TBL WHERE MOVIE_NO = #{movieNo} AND REVIEW_NO = #{reviewNo}
	</select>
	<insert id="insertReport">
		INSERT INTO REVIEW_REPORT_TBL VALUES(SEQ_REPORT_NO.NEXTVAL, #{movieNo}, #{reviewNo}, #{memberId})
	</insert>
</mapper>